<h1>Products for sale</h1>

<% @products.each do |product| %>
  <div class="well">
    <div class="row">
      <div class="col-sm-8">
        <%= link_to product_path(product) do %>
				  <h3><%= product.title %></h3>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



